<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=
  , initial-scale=1.0">
  <title>Ruletka</title>
  <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@100;500;800&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
<h1 class="title">Ruletka</h1>

    <div class="form">
      <div class="form__wrapper">
        <header>
          <h3>Twoje pieniadze: <span class="money">100</span> zl</h3>
          <h2>Za ile chcesz zagrac?</h2>
          <input type="number" class="text">
         </header>
         <div class="choiceText">
          <h2>Co wybierasz?</h2>
          <p>Wybierz cyfrę/y na tablicy lub wybierz opcję poniżej</p>
         </div>
         <div class="colors">
          <div class="colors__pair pair  option">Parzyste</div>
          <div class="colors__inpair inpair option">Nieparzyste</div>
          <div class="colors__small small option">1-18</div>
          <div class="colors__big big option">19-36</div>
          <div class="colors__red red option">Czerwone</div>
          <div class="colors__black black option">Czarne</div>
        </div>

        <button class="play">GRAJ</button>

        <h1 class="noSelected">ssddsaads</h1>

      </div>
       
      <div class="resultInfo">
        <h2 class="resultTitle"></h2>
        <h3 class="randomNumberInfo">Wylosowana liczba to: <span class="randomNumber"></span></h3>
      </div>
    </div>

    <div class="table">

      <div class="table__wrapper">
        <div class="green number" data-key="0">0</div>
        <div class="red number" data-key="1">1</div>
        <div class="black number" data-key="2">2</div>
        <div class="red number" data-key="3">3</div>
        <div class="black number" data-key="4">4</div>
        <div class="red number" data-key="5">5</div>
        <div class="black number" data-key="6">6</div>
        <div class="red number" data-key="7">7</div>
        <div class="black number" data-key="8">8</div>
        <div class="red number" data-key="9">9</div>
        <div class="black number" data-key="10">10</div>
        <div class="black number" data-key="11">11</div>
        <div class="red number" data-key="12">12</div>
        <div class="black number" data-key="13">13</div>
        <div class="red number" data-key="14">14</div>
        <div class="black number" data-key="15">15</div>
        <div class="red number" data-key="16">16</div>
        <div class="black number" data-key="17">17</div>
        <div class="red number" data-key="18">18</div>
        <div class="red number" data-key="19">19</div>
        <div class="black number" data-key="20">20</div>
        <div class="red number" data-key="21">21</div>
        <div class="black number" data-key="22">22</div>
        <div class="red number" data-key="23">23</div>
        <div class="black number" data-key="24">24</div>
        <div class="red number" data-key="25">25</div>
        <div class="black number" data-key="26">26</div>
        <div class="red number" data-key="27">27</div>
        <div class="black number" data-key="28">28</div>
        <div class="black number" data-key="29">29</div>
        <div class="red number" data-key="30">30</div>
        <div class="black number" data-key="31">31</div>
        <div class="red number" data-key="32">32</div>
        <div class="black number" data-key="33">33</div>
        <div class="red number" data-key="34">34</div>
        <div class="black number" data-key="35">35</div>
        <div class="red number" data-key="36">36</div>
      </div>

 
   
    </div>

  </div>
</body>
</html>